.main {
  flex-grow: 1;

  display: grid;
  grid-template-columns: 2fr 2fr 3fr;

  margin: 1em;
  gap: 1em;
}

.main>* {
  max-height: calc(100vh - 50px - 3em);
  overflow: auto;
}

.code {
  background-color: black;
  color: white;

  white-space: pre;
  font-family: monospace;
  line-height: 1.3em;

  margin: 0;
  padding: 1em;
  border-radius: 2em;
}

.token {
  color: black;
  padding: 0 0.3em;
}

.token:hover {
  border: 3px solid white;
}

.token:hover::after {
  content: attr(data-label);

  position: absolute;
  z-index: 1;

  background-color: white;
  color: black;

  padding: 0.3em;
  border-radius: 0.6em;

  pointer-events: none;
}

.stack {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 0.3em;
}

.stack>* {
  background-color: white;

  padding: 0.5em;
  border-radius: 0.6em;
  text-align: center;
}

.tree {
  background-color: var(--python-yellow);
}
