:root {
  --python-blue: #306998;
  --python-yellow: #FFE873;

  font-size: calc(12px + 0.6vw);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(135deg,
      var(--python-yellow) 0%,
      var(--python-blue) 100%);

  display: flex;
  flex-direction: column;
}
